* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 180px) and (max-width: 380px) {
    /* Section 1 containing Nav */
    .navbar{
        padding: 12px 2%;
    }

    .mainul {
        display: none;
    }

    .resp {
        display: block;
    }

    .respul {
        display: none;
    }

    .respul li{
        height: 30px;
        list-style: none;
    }

    .resp:hover .respul{
        display: block;
    }

    .sample {
        height: 50px;
        margin: 0 0 0 2%;
        font-size: 22px;
    }

    #section-2{
        display: none;
    }

    .floating-div{
        display: none;
    }

    .portfolio{
        display: none;
    }

    .services{
        display: none;
    }

    .contact{
        display: none;
    }

    .xtra{
        display: none;
    }
    /* Section 2 containing About & Resume */
    #section-2alt {
        display: block;
    }

    .textcoveralt {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 50px 5% 0 5%;
        /* padding: 50px 0; */
        width: 90%;
        height: auto;
        background-color: #28283d;
        animation: slideIn 2s ease-out forwards;
    }

    /* Slide-in Animation */
    @keyframes slideIn {
        from {
            transform: translateY(200%);
            z-index: -5;
        }
        to {
            transform: translateY(0);
            z-index: -5;
        }
    }

    .mname{
        font-size: 40px;
        font-weight: bold;
    }

    .mname span{
       color: #ffff00;
       font-weight: bold;
    }

    .expertisealt{
        font-size: 22px;
        font-weight: light;
    }

    /* Floating Div Styling */
    .floating-divalt {
        position: relative; 
        margin: 0;
        width: 100%;
        height: auto;
        padding: 60px 8px;
        background-color: #1a1b2f;
        /* border-radius: 10px; */
        text-align: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border-left: #ffff00 1px solid;
        border-right: #ffff00 1px solid;
        border-top: #ffff00 1px solid;
        border-bottom: none;
    }

    /* Circular Icon */
    .circle-iconalt {
        position: relative;
        width: 80px;
        height: 80px;
        color: #ffff00;
        background-color: rgba(26, 27, 47, 0.8); /*Transparent effect */
        box-shadow: #ffff00 2px 2px 0 1px;
        border-left: #ffff00 2px dotted;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 36px;
        font-weight: bold;
        border-radius: 50%; /* Circular shape */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 60px; /* Center icon and add space below */
        transition: all .30s ease-out;
    }

    .circle-iconalt:hover{
        box-shadow: #f01f08 0px 2px 2px 0px;
        border-left: none;
        border-right: #f01f08 2px dotted;
        color: #f01f08;
        cursor: pointer;
    }

    /* Description Text */
    .altdescription {
        font-size: 18px;
        line-height: 1.6;
        color: #ffffff;
        margin-bottom: 60px;
        padding: 0 20px; /* Add horizontal padding for better readability */
    }

    /* Call-to-Action Button */
    .altcta-button {
        background-color: transparent;
        color: #ffff00; /* Green text */
        border: 1px solid #ffff00;
        padding: 15px 30px; /* Larger button for emphasis */
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .altcta-button:hover {
        background-color: #ffff00;
        color: #1a1b2f; /* Dark blue on hover */
    }

    /*Section 3 containing various skill set levels*/
    .prodiv {
        height: 100svb;
        background-size: 100svb;
    }

    .progress-cover {
        width: 80%;
        margin: 10% 5% 0 5%;
    }

    .skillhead {
        font-size: 23px;
    }

    .skillunveil {
        font-size: 18px;
    }

    .skill {
        margin: 15px 0 0 0;
    }
}

@media screen and (min-width: 381px) and (max-width: 480px) {
    .navbar{
        padding: 15px 2%;
    }

    .mainul {
        display: none;
    }

    .resp {
        display: block;
    }

    .respul {
        display: none;
    }

    .respul li{
        height: 30px;
        list-style: none;
    }

    .resp:hover .respul{
        display: block;
    }

    .sample {
        height: 50px;
        margin: 0 0 0 2%;
        font-size: 22px;
    }

    #section-2{
        display: none;
    }

    .floating-div{
        display: none;
    }

    /* Section 2 containing About & Resume */
    #section-2alt {
        display: block;
    }

    .textcoveralt {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 50px 5% 0 5%;
        /* padding: 50px 0; */
        width: 90%;
        height: auto;
        background-color: #28283d;
        /* animation: slideIn 2s ease-out forwards; */
    }

    /* Slide-in Animation */
    @keyframes slideIn {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    .mname{
        font-size: 50px;
        font-weight: bold;
        animation: slideIn 2s ease-out forwards;
    }

    .mname span{
       color: #ffff00;
       font-weight: bold;
    }

    .expertisealt{
        font-size: 26px;
        font-weight: light;
        animation: slideIn 2s ease-out forwards;
    }

    /* Floating Div Styling */
    .floating-divalt {
        position: relative; 
        margin: 0;
        width: 100%;
        height: auto;
        padding: 60px 5px;
        background-color: #1a1b2f;
        /* border-radius: 10px; */
        text-align: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border-left: #ffff00 1px solid;
        border-right: #ffff00 1px solid;
        border-top: #ffff00 1px solid;
        border-bottom: none;
        animation: slideIn 2s ease-out forwards;
    }

    /* Circular Icon */
    .circle-iconalt {
        position: relative;
        width: 80px;
        height: 80px;
        color: #ffff00;
        background-color: rgba(26, 27, 47, 0.8); /*Transparent effect */
        box-shadow: #ffff00 2px 2px 0 1px;
        border-left: #ffff00 2px dotted;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 36px;
        font-weight: bold;
        border-radius: 50%; /* Circular shape */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 60px; /* Center icon and add space below */
        transition: all .30s ease-out;
    }

    .circle-iconalt:hover{
        box-shadow: #f01f08 0px 2px 2px 0px;
        border-left: none;
        border-right: #f01f08 2px dotted;
        color: #f01f08;
        cursor: pointer;
    }

    /* Description Text */
    .altdescription {
        font-size: 20px;
        line-height: 1.8;
        color: #ffffff;
        margin-bottom: 60px;
        padding: 0 20px; /* Add horizontal padding for better readability */
    }

    /* Call-to-Action Button */
    .altcta-button {
        background-color: transparent;
        color: #ffff00; /* Green text */
        border: 1px solid #ffff00;
        padding: 15px 30px; /* Larger button for emphasis */
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .altcta-button:hover {
        background-color: #ffff00;
        color: #1a1b2f; /* Dark blue on hover */
    }

    /*Section 3 containing various skill set levels*/
    .prodiv {
        height: 100svb;
        background-size: 100% 100%;
    }

    .progress-cover {
        width: 80%;
        margin: 10% 5% 0 5%;
    }

    .skillhead {
        font-size: 27px;
    }

    .skillunveil {
        font-size: 22px;
    }

    .skill {
        margin: 20px 0 0 0;
    }

    .services{
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    .servicescov{
        flex-direction: column;
        margin: 30px 5% 0 5%;
        width: 90%;
        height: auto;
        gap: 10px;
    }

    .serv1{
        margin: 0;
        width: 100%;
        height: 250px;
    }

    .serv2{
        margin: 0;
        width: 100%;
        height: 250px;
    }

    .servcov1{
        width: 100%;
        height: 500px;
    }

    .servhead {
        font-size: 27px;        
    }

    .servunv {
        font-size: 22px;
    }

    #section-5{
        height: 4600px;
        padding: 50px 0;
    }

    .content{
        margin: 0 5%;
        width: 90%;
    }

    .portfolio{
        margin: 40px 0 40px 0;
        width: 100%;
    }

    .porthead {
        font-size: 27px;        
    }

    .portunv {
        font-size: 22px;
    }

    .portfolio-grid{
        justify-content: unset;
        width: 100%;
        margin: 0;
        height: 1000px;
        flex-direction: column;
    }

    .portfolio-item {
        width: 100%;
        height: 320px;
        position: relative;
    }
    
    .portfolio-item img {
        width: 100%;
        height: auto;
        display: block;
    }

    .exphead {
        font-size: 27px;
        margin: 0 5% 20px 5%;  
    }

    .expunv {
        font-size: 22px;
        margin: 0 5%; 
    }

    .timeline{
        margin: 0;
        width: 100%;
    }

    .timeline::before{
        display: none;
    }

    .timeline-item{
        width: 95%;
    }

    .timeline-item.left::before{
        display: none;
    }

    .timeline-item.right::before{
        display: none;
    }

    .timeline-item.right {
        right: 0;
    }

    .timeline::after{
        display: none;
    }

    .contact-floating{
        flex-direction: column;
        top: 89.7%;
        left: 5%;
        width: 90%;
        gap: 50px;
        height: 950px;
        border-bottom: none;
    }

    .social-links{
        display: none;
    }

    .contact-details, .contact-form{
        width: 100%
    }

    .form-group{
        flex-direction: column;
    }

    .xtra{
        height: 300px;
    }

    .social-link {
        display: block;
        gap: 10px;
        justify-content: flex-start;
    }
    
    .social-link a {
        color: #ffffff;
        font-size: 40px;
        transition: color 0.3s ease;
    }
    
    .social-link a:hover {
        color: #ffff00; 
    }

    .sochead {
        font-size: 27px;
    }

    .footbar{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .navbar{
        padding: 15px 25px;
    }

    .mainul {
        display: none;
    }

    .resp {
        display: block;
    }

    .respul {
        display: none;
        width: 200px;
        font-size: 16px;
    }

    .respul li{
        height: 40px;
        list-style: none;
    }

    .resp:hover .respul{
        display: block;
    }

    .sample {
        height: 50px;
        margin: 0 0 0 2%;
        font-size: 22px;
    }

    #section-2{
        display: none;
    }

    .floating-div{
        display: none;
    }

    .portfolio{
        display: none;
    }

    .services{
        display: none;
    }

    .contact{
        display: none;
    }

    .xtra{
        display: none;
    }
    /* Section 2 containing About & Resume */
    #section-2alt {
        display: block;
    }

    .textcoveralt {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 50px 5% 0 5%;
        /* padding: 50px 0; */
        width: 90%;
        height: auto;
        background-color: #28283d;
        animation: slideIn 2s ease-out forwards;
    }

    /* Slide-in Animation */
    @keyframes slideIn {
        from {
            transform: translateY(200%);
            z-index: -5;
        }
        to {
            transform: translateY(0);
            z-index: -5;
        }
    }

    .mname{
        font-size: 50px;
        font-weight: bold;
    }

    .mname span{
       color: #ffff00;
       font-weight: bold;
    }

    .expertisealt{
        font-size: 26px;
        font-weight: light;
    }

    /* Floating Div Styling */
    .floating-divalt {
        position: relative; 
        margin: 0;
        width: 100%;
        height: auto;
        padding: 60px 5px;
        background-color: #1a1b2f;
        /* border-radius: 10px; */
        text-align: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border-left: #ffff00 1px solid;
        border-right: #ffff00 1px solid;
        border-top: #ffff00 1px solid;
        border-bottom: none;
    }

    /* Circular Icon */
    .circle-iconalt {
        position: relative;
        width: 80px;
        height: 80px;
        color: #ffff00;
        background-color: rgba(26, 27, 47, 0.8); /*Transparent effect */
        box-shadow: #ffff00 2px 2px 0 1px;
        border-left: #ffff00 2px dotted;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 36px;
        font-weight: bold;
        border-radius: 50%; /* Circular shape */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 60px; /* Center icon and add space below */
        transition: all .30s ease-out;
    }

    .circle-iconalt:hover{
        box-shadow: #f01f08 0px 2px 2px 0px;
        border-left: none;
        border-right: #f01f08 2px dotted;
        color: #f01f08;
        cursor: pointer;
    }

    /* Description Text */
    .altdescription {
        font-size: 20px;
        line-height: 1.8;
        color: #ffffff;
        margin-bottom: 60px;
        padding: 0 20px; /* Add horizontal padding for better readability */
    }

    /* Call-to-Action Button */
    .altcta-button {
        background-color: transparent;
        color: #ffff00; /* Green text */
        border: 1px solid #ffff00;
        padding: 15px 30px; /* Larger button for emphasis */
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .altcta-button:hover {
        background-color: #ffff00;
        color: #1a1b2f; /* Dark blue on hover */
    }

    /*Section 3 containing various skill set levels*/
    .prodiv {
        height: 100svb;
        background-size: 100%;
    }

    .progress-cover {
        width: 80%;
        margin: 10% 5% 0 5%;
    }

    .skillhead {
        font-size: 27px;
    }

    .skillunveil {
        font-size: 22px;
    }

    .skill {
        margin: 20px 0 0 0;
    }
}